<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">


    <h:head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

        <title>InterLiga</title>

        <!-- Bootstrap core CSS -->
        <link type="text/css" rel="stylesheet" href="../vendor/bootstrap/css/bootstrap.min.css"/>

        <!-- Custom fonts for this template -->
        <link type="text/css" rel="stylesheet" href="../vendor/fontawesome-free/css/all.min.css"/>
        <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700"/>
        <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic"/>

        <!-- Plugin CSS -->
        <link type="text/css" rel="stylesheet" href="../vendor/magnific-popup/magnific-popup.css"/>

        <!-- Custom styles for this template -->
        <link type="text/css" rel="stylesheet" href="../css/freelancer.min.css" />
        <link type="text/css" rel="stylesheet" href="../css/FormEstudante.css" />

        <style>
            .ui-growl{
                position:fixed;
                top:50%;
                right:50%;
                width:301px;
            }
        </style>

    </h:head>


    <!--verifica se o usuário está logado, se ele estiver carrega a página normalmente caso
    contrário encaminha para a página index.xhtml-->
    #{conferePessoa.testeLogAdm()}


    <h:body id="page-top">

        <!--Esse script serve para limpar a sessão assim que o usuário fechar o navegador-->
        <script language="JavaScript">
            window.onbeforeunload = WindowCloseHanlder;
            function WindowCloseHanlder()
            {
                window.alert('My Window is reloading');
            }
        </script>


        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
            <div class="container">
                <h:link class="navbar-brand js-scroll-trigger" outcome="PagAdm.xhtml">InterLiga</h:link>
                <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item mx-0 mx-lg-1">

                            <h:link class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" outcome="listaAdm.xhtml">Administrador</h:link>
                        </li>
                        <li class="nav-item mx-0 mx-lg-1">
                            <h:link class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" outcome="listaPreCad.xhtml">Pré-Cadastro</h:link>
                        </li>
                        <li class="nav-item mx-0 mx-lg-1">
                            <h:link class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" outcome="listaEmpresas.xhtml">Empresas</h:link>
                        </li>
                        <li class="nav-item mx-0 mx-lg-1">
                            <h:link class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" outcome="listaEstagiario.xhtml">Estagiários</h:link>
                        </li>          
                        <li class="nav-item mx-0 mx-lg-1">
                            <h:link class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" outcome="listaSolicitacoes.xhtml">Solicitações</h:link>
                        </li>
                        <li class="nav-item mx-0 mx-lg-1">
                            <h:form>
                            <h:commandLink class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" action="#{conferePessoa.desloga()}">Sair</h:commandLink>
                            </h:form>
                        </li>

                    </ul>
                </div>
            </div>
        </nav> 


        <!-- Contact Section -->
        <section id="contact">
            <p:growl id="MenssagemGenerica" life="3000" autoUpdate="true"/>
            <div class="container">
                <h2 class="text-center text-uppercase text-secondary mb-0">Administradores</h2>
                <hr class="star-dark mb-5">
                    <div class="row">
                        <div >
                            <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                            <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                            <h:form>
                                <p:dataTable  class="table table-striped" value="#{listagem.listaAdm}" var="item" >

                                    <p:column width="50" headerText="ID">
                                        <h:outputText value="#{item.idAdm}"></h:outputText>
                                    </p:column>

                                    <p:column width="130" headerText="Nome">
                                        <h:outputText value="#{item.nome}"></h:outputText>
                                    </p:column>

                                    <p:column width="130" headerText="CPF">
                                        <h:outputText value="#{item.cpf}"></h:outputText>
                                    </p:column>

                                    <p:column width="130" headerText="RG">
                                        <h:outputText value="#{item.rg}"></h:outputText>
                                    </p:column>

                                    <p:column width="130" headerText="Sexo">
                                        <h:outputText value="#{item.sexo}"></h:outputText>
                                    </p:column>

                                    <p:column width="130" headerText="Email" >
                                        <h:outputText value="#{item.email}"></h:outputText>
                                    </p:column>

                                    <p:column width="400" style="white-space: nowrap; " >
                                        <f:facet name="header"></f:facet>
                                        <p:commandLink value="Editar Cadastro"
                                                       type="submit"
                                                       action="#{CrudAdm.editarAdmP1(item)}"
                                                       styleClass="btn btn-primary" style="margin-right: 10px">
                                            <i class="glyphicon glyphicon-edit"></i>
                                        </p:commandLink>

                                        
                                        <f:facet name="header"></f:facet>
                                        <p:commandLink value="Editar Senha"
                                                       type="submit"
                                                       action="#{CrudAdm.editarSenhaAdmP1(item)}"
                                                       styleClass="btn btn-primary" style="margin-right: 10px">
                                            <i class="glyphicon glyphicon-edit"></i>
                                        </p:commandLink>


                                        <f:facet name="header"></f:facet>
                                        <p:commandLink value="Delete"
                                                       type="submit"
                                                       action="#{CrudAdm.excluirAdm(item)}"
                                                       styleClass="btn btn-danger">

                                            <p:confirm header="Confirmação" message="Tem certeza que deseja 
                                                       excluir permanentemente esse usuário?" icon="ui-icon-alert"></p:confirm>
                                            <i class="glyphicon glyphicon-trash"></i>
                                            Excluir
                                        </p:commandLink>

                                        <p:confirmDialog global="true">
                                            <p:commandButton id="confirm" value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" action="#{CrudAdm.excluirAdm(item)}"></p:commandButton>
                                            <p:commandButton id="decline" value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close"></p:commandButton>
                                        </p:confirmDialog>    
                                    </p:column>

                                </p:dataTable>
                            </h:form>

                            <h:link outcome="cadastroAdministrador.xhtml">
                                <i class="fas fa-user-plus mr-2"></i>
                                Cadastrar novo ADM
                            </h:link>
                        </div>
                    </div>
                </hr>
            </div>
        </section>


        <!-- Footer -->
        <footer class="footer text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 mb-5 mb-lg-0">
                        <h4 class="text-uppercase mb-4">Location</h4>
                        <p class="lead mb-0">2215 John Daniel Drive
                            <br/>Clark, MO 65243</p>
                    </div>
                    <div class="col-md-4 mb-5 mb-lg-0">
                        <h4 class="text-uppercase mb-4">Around the Web</h4>
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item">
                                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                                    <i class="fab fa-fw fa-facebook-f"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                                    <i class="fab fa-fw fa-google-plus-g"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                                    <i class="fab fa-fw fa-twitter"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                                    <i class="fab fa-fw fa-linkedin-in"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                                    <i class="fab fa-fw fa-dribbble"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h4 class="text-uppercase mb-4">About Freelancer</h4>
                        <p class="lead mb-0">Freelance is a free to use, open source Bootstrap theme created by
                            <a href="http://startbootstrap.com">Start Bootstrap</a>.</p>
                    </div>
                </div>
            </div>
        </footer>


        <div class="copyright py-4 text-center text-white">
            <div class="container">
                <small>Copyright &copy; Hilton, Igor, Luana, Vinícius</small>
            </div>
        </div>


        <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
        <div class="scroll-to-top d-lg-none position-fixed ">
            <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
                <i class="fa fa-chevron-up"></i>
            </a>
        </div>


        <!-- Plugin AJAX para limpar dados do fomulário --> 
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

        <!-- Bootstrap core JavaScript -->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Plugin JavaScript -->
        <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
        <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

        <!-- Contact Form JavaScript -->
        <script src="js/jqBootstrapValidation.js"></script>
        <script src="js/contact_me.js"></script>

        <!-- Custom scripts for this template -->
        <script src="js/freelancer.min.js"></script>

    </h:body>
</html>

