<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

        <title>InterLiga</title>

        <!-- Bootstrap core CSS -->
        <link type="text/css" rel="stylesheet" href="../vendor/bootstrap/css/bootstrap.min.css"/>

        <!-- Custom fonts for this template -->
        <link type="text/css" rel="stylesheet" href="../vendor/fontawesome-free/css/all.min.css"/>
        <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700"/>
        <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic"/>

        <!-- Plugin CSS -->
        <link type="text/css" rel="stylesheet" href="../vendor/magnific-popup/magnific-popup.css"/>

        <!-- Custom styles for this template -->
        <link type="text/css" rel="stylesheet" href="../css/freelancer.min.css" />
        <link type="text/css" rel="stylesheet" href="../css/FormEstudante.css" />

        <style>
            .ui-growl{
                position:fixed;
                top:50%;
                right:50%;
                width:301px;
            }
        </style>
    </h:head>

    <!--verifica se o usuário está logado, se ele estiver carrega a página normalmente caso
    contrário encaminha para a página index.xhtml-->
    #{conferePessoa.testeLogEstagiario()}

    <h:body id="page-top">

        <!--Esse script serve para limpar a sessão assim que o usuário fechar o navegador-->
        <script language="JavaScript">
            window.onbeforeunload = WindowCloseHanlder;
            function WindowCloseHanlder()
            {
                window.alert('My Window is reloading');
            }
        </script>

        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
            <div class="container">
                <h:link class="navbar-brand js-scroll-trigger" outcome="PagEstudante.xhtml">InterLiga</h:link>
                <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">

                        <li class="nav-item mx-0 mx-lg-1">
                            <h:link class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" outcome="meuCadEst.xhtml">Meu Cadastro</h:link>
                        </li>
                        <li class="nav-item mx-0 mx-lg-1">
                            <h:link class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" outcome="curriculo.xhtml">Curriculo</h:link>
                        </li>
                        <li class="nav-item mx-0 mx-lg-1">
                            <h:link class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" outcome="SolicitacoesRecebidas_Est.xhtml">Solicitações</h:link>
                        </li>
                        <li class="nav-item mx-0 mx-lg-1">
                            <h:form>
                            <h:commandLink class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" action="#{conferePessoa.desloga()}">Sair</h:commandLink>
                            </h:form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Contact Section -->
        <section id="contact">
            <p:growl id="MenssagemGenerica" life="2000" autoUpdate="true"/>
            <div class="container">
                <h2 class="text-center text-uppercase text-secondary mb-0">Novo curriculo</h2>
                <hr class="star-dark mb-5">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                            <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                            <h:form  id="contactForm" >
                                <div class="form-row">

                                    <div class="control-group col-md-6">
                                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                            <label>Nome Estagiario</label>
                                            <h:outputText value="#{curriculo.nomeEstagiario}"></h:outputText>
                                        </div>
                                    </div>

                                    <div class="control-group col-md-6">
                                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                            <label>CPF</label>
                                            <h:outputText value="#{curriculo.cpf}"></h:outputText>
                                        </div>
                                    </div>

                                    <div class="control-group col-md-6">
                                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                            <label>Sexo</label>
                                            <h:outputText value="#{curriculo.sexo}"></h:outputText>
                                        </div>
                                    </div>

                                    <div class="control-group col-md-6">
                                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                            <label>Estado</label>
                                            <h:inputText class="form-control" id="estado" required="false" value="#{curriculo.estado}">
                                                <f:passThroughAttribute name="placeholder" value="Estado" />
                                            </h:inputText>
                                            <p class="help-block text-danger"></p>
                                        </div>
                                    </div>

                                    <div class="control-group col-md-6">
                                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                            <label>Cidade</label>
                                            <h:inputText class="form-control" id="cidade" required="false" value="#{curriculo.cidade}">
                                                <f:passThroughAttribute name="placeholder" value="Cidade" />
                                            </h:inputText>
                                            <p class="help-block text-danger"></p>
                                        </div>
                                    </div>

                                    <div class="control-group col-md-6">
                                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                            <label>Bairro</label>
                                            <h:inputText class="form-control" id="bairro" required="false" value="#{curriculo.bairro}">
                                                <f:passThroughAttribute name="placeholder" value="Bairro" />
                                            </h:inputText>
                                            <p class="help-block text-danger"></p>
                                        </div>
                                    </div>

                                    <div class="control-group col-md-6">
                                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                            <label>Rua</label>
                                            <h:inputText class="form-control" id="rua" required="false" value="#{curriculo.rua}">
                                                <f:passThroughAttribute name="placeholder" value="Rua" />
                                            </h:inputText>
                                            <p class="help-block text-danger"></p>
                                        </div>
                                    </div>

                                    <div class="control-group col-md-6">
                                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                            <label>Número Casa</label>
                                            <h:inputText class="form-control" id="numeroCasa" required="false" value="#{curriculo.numeroCasa}">
                                                <f:passThroughAttribute name="placeholder" value="Número Casa" />
                                            </h:inputText>
                                            <p class="help-block text-danger"></p>
                                        </div>
                                    </div>

                                    <div class="control-group col-md-6">
                                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                            <label>Curso</label>
                                            <h:outputText value="#{curriculo.curso}"></h:outputText>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label>Turno que deseja estagiar</label>
                                        <h:selectOneMenu value="#{curriculo.turnoTrabalho}" id="turno" class="form-control" required="false" style="width:250px;" >
                                            <f:selectItem itemLabel="Manhã" itemValue="Manhã" />
                                            <f:selectItem itemLabel="Tarde" itemValue="Tarde" />
                                            <f:selectItem itemLabel="Noite" itemValue="Noite" />
                                        </h:selectOneMenu>
                                    </div>

                                    <div class="control-group col-md-6">
                                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                            <label>Data de nascimento</label>
                                            <p:inputMask class="form-control" id="DataNascimento" required="false" mask="99/99/9999" value="#{curriculo.dataNascimento}">
                                                <f:passThroughAttribute name="placeholder" value="Data de Nascimento" />
                                            </p:inputMask><p class="help-block text-danger"></p>
                                        </div>
                                    </div>


                                    <div class="control-group col-md-6">
                                        <label>Área de Atuação</label>
                                        <h:selectOneMenu value="#{curriculo.areaAtuacao}" id="AreaDeAtuacao" class="form-control" required="false" style="width:250px;" >
                                            <f:selectItem itemLabel="Programador" itemValue="Programador" />
                                            <f:selectItem itemLabel="Professor de TI" itemValue="Professor de TI" />
                                            <f:selectItem itemLabel="Marketing Digital" itemValue="Marketing Digital" />
                                            <f:selectItem itemLabel="Técnico em Informática" itemValue="Tecnico em Informatica" />
                                        </h:selectOneMenu>
                                    </div>

                                    <div class="control-group col-md-6">
                                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                            <label>Idiomas falados</label>
                                            <h:inputText class="form-control" id="idiomas" required="false" value="#{curriculo.idiomas}">
                                                <f:passThroughAttribute name="placeholder" value="Idiomas falados" />
                                            </h:inputText>
                                            <p class="help-block text-danger"></p>
                                        </div>
                                    </div>


                                    <div class="form-group col-md-6">
                                        <label>Nivel de informática</label>
                                        <h:selectOneMenu value="#{curriculo.informatica}" id="informatica" class="form-control" required="false" style="width:250px;" >
                                            <f:selectItem itemLabel="Basico" itemValue="Basico" />
                                            <f:selectItem itemLabel="Intermediario" itemValue="Intermediario" />
                                            <f:selectItem itemLabel="Avançado" itemValue="Avançado" />
                                        </h:selectOneMenu>


                                    </div>

                                    <div class="control-group col-md-6">
                                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                            <label>Experiências Proficionais</label>
                                            <h:inputText class="form-control" id="experiencia" required="false"  value="#{curriculo.expProfissional}">
                                                <f:passThroughAttribute name="placeholder" value="Experiencia" />
                                            </h:inputText>
                                            <p class="help-block text-danger"></p>
                                        </div>
                                    </div>

                                    <div class="control-group col-md-6">
                                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                            <label>Cursos Adicionais</label>
                                            <h:inputText class="form-control" id="CursoAdicional" required="false" value="#{curriculo.cursosExtras}">
                                                <f:passThroughAttribute name="placeholder" value="Cursos adicionais" />
                                            </h:inputText>
                                            <p class="help-block text-danger"></p>
                                        </div>
                                    </div>

                                    <div class="control-group col-md-6">
                                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                            <label>Informações Adicionais</label>
                                            <h:inputText class="form-control" id="InformacaoAdicional" required="false" value="#{curriculo.informacoesAdicionais}">
                                                <f:passThroughAttribute name="placeholder" value="Informações Adicionais" />
                                            </h:inputText>
                                            <p class="help-block text-danger"></p>
                                        </div>
                                    </div>

                                </div>
                                <br/>
                                <div id="success"></div>
                                <div class="form-group">

                                    <p:commandLink type="submit" 
                                                   value="Salvar" 
                                                   action="#{CrudCurriculo.salvarCurriculoP2(curriculo, conferePessoa.estagiarioLogado.idEstagiario)}"
                                                   update=":MenssagemGenerica" 
                                                   id="sendMessageButton" 
                                                   styleClass="btn btn-primary btn-xl">
                                        Salvar
                                        <f:ajax render="@form" resetValues="true"/>
                                    </p:commandLink>

                                    <p:commandLink type="submit" value="Cancelar" action="#{CrudCurriculo.cancelarSE()}" styleClass="btn btn-danger btn-xl">
                                        Cancelar
                                        <f:ajax render="@form" resetValues="true"/>
                                    </p:commandLink>

                                </div>
                            </h:form>
                        </div>
                    </div>
                </hr>
            </div>
        </section>


        <!-- Footer -->
        <footer class="footer text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 mb-5 mb-lg-0">
                        <h4 class="text-uppercase mb-4">Location</h4>
                        <p class="lead mb-0">2215 John Daniel Drive
                            <br/>Clark, MO 65243</p>
                    </div>
                    <div class="col-md-4 mb-5 mb-lg-0">
                        <h4 class="text-uppercase mb-4">Around the Web</h4>
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item">
                                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                                    <i class="fab fa-fw fa-facebook-f"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                                    <i class="fab fa-fw fa-google-plus-g"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                                    <i class="fab fa-fw fa-twitter"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                                    <i class="fab fa-fw fa-linkedin-in"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                                    <i class="fab fa-fw fa-dribbble"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h4 class="text-uppercase mb-4">About Freelancer</h4>
                        <p class="lead mb-0">Freelance is a free to use, open source Bootstrap theme created by
                            <a href="http://startbootstrap.com">Start Bootstrap</a>.</p>
                    </div>
                </div>
            </div>
        </footer>


        <div class="copyright py-4 text-center text-white">
            <div class="container">
                <small>Copyright &copy; Your Website 2019</small>
            </div>
        </div>


        <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
        <div class="scroll-to-top d-lg-none position-fixed ">
            <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
                <i class="fa fa-chevron-up"></i>
            </a>
        </div>


        <!-- Plugin AJAX para limpar dados do fomulário --> 
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

        <!-- Bootstrap core JavaScript -->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Plugin JavaScript -->
        <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
        <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

        <!-- Contact Form JavaScript -->
        <script src="js/jqBootstrapValidation.js"></script>
        <script src="js/contact_me.js"></script>

        <!-- Custom scripts for this template -->
        <script src="js/freelancer.min.js"></script>

    </h:body>
</html>

