<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>


        <title>InterLiga</title>

        <!-- Bootstrap core CSS -->
        <link type="text/css" rel="stylesheet" href="../vendor/bootstrap/css/bootstrap.min.css"/>

        <!-- Custom fonts for this template -->
        <link type="text/css" rel="stylesheet" href="../vendor/fontawesome-free/css/all.min.css"/>
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"/>
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css"/>

        <!-- Plugin CSS -->
        <link type="text/css" rel="stylesheet" href="../vendor/magnific-popup/magnific-popup.css"/>

        <!-- Custom styles for this template -->
        <link type="text/css" rel="stylesheet"  href="../css/freelancer.min.css"/>
        <link type="text/css" rel="stylesheet" href="../css/FormEstudante.css"/>
        
        <style>
            .ui-growl{
                position:fixed;
                top:50%;
                right:50%;
                width:301px;
            }
        </style>
        
    </h:head>

    
    <h:body id="page-top">
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="inicio.xhtml">InterLiga</a>
                <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item mx-0 mx-lg-1">
                            <h:link class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" >Sobre nós</h:link>
                        </li>
                        <li class="nav-item mx-0 mx-lg-1">
                            <h:link class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" outcome="cadastrar.xhtml">Cadastrar</h:link>
                        </li>
                        <li class="nav-item mx-0 mx-lg-1">
                            <h:link class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" >Contact</h:link>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </nav> 



        <!-- Contact Section -->
        <section id="contact">
            <p:growl id="MenssagemGenerica" life="2000" autoUpdate="true"/>
            <div class="container">
                <h2 class="text-center text-uppercase text-secondary mb-0">Solicitar Cadastro</h2>
                <hr class="star-dark mb-5"/>
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                        <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->

                        <h:form  id="contactForm" >
                            <div class="form-row">

                                <div class="control-group col-md-6">
                                    <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                        <p:outputLabel value="Matricula: " />
                                        <h:inputText class="form-control" id="matricula"  required="false" title="Digite sua Matricula" value="#{estagiarioPreCadastro.numMatricula}" >
                                            <f:passThroughAttribute name="placeholder" value="Número da Matricula" />
                                        </h:inputText>
                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>

                                <br/>
                                <div id="success"></div>
                                <div class="form-group">
                                    <!--<h:commandButton  value="Solicitar Cadastro" type="submit" class="btn btn-primary btn-xl" id="sendMessageButton"></h:commandButton>-->
                                    <p:commandLink type="submit" value="Solicitar Cadastro" action="#{CrudPreCadastro.validaPreCadastro(estagiarioPreCadastro)}" styleClass="btn btn-primary btn-xl" id="sendMessageButton">
                                        Salvar
                                        <f:ajax render="@form" resetValues="true"/>
                                    </p:commandLink>
                                </div>
                            </div>
                        </h:form>
                    </div>
                </div>
            </div>
        </section>

        
        <!-- Footer -->
        <footer class="footer text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 mb-5 mb-lg-0">
                        <h4 class="text-uppercase mb-4">Location</h4>
                        <p class="lead mb-0">2215 John Daniel Drive
                            <br/>Clark, MO 65243</p>
                    </div>
                    <div class="col-md-4 mb-5 mb-lg-0">
                        <h4 class="text-uppercase mb-4">Around the Web</h4>
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item">
                                <h:link class="btn btn-outline-light btn-social text-center rounded-circle" >
                                    <i class="fab fa-fw fa-facebook-f"></i>
                                </h:link>
                            </li>
                            <li class="list-inline-item">
                                <h:link class="btn btn-outline-light btn-social text-center rounded-circle" >
                                    <i class="fab fa-fw fa-google-plus-g"></i>
                                </h:link>
                            </li>
                            <li class="list-inline-item">
                                <h:link class="btn btn-outline-light btn-social text-center rounded-circle">
                                    <i class="fab fa-fw fa-twitter"></i>
                                </h:link>
                            </li>
                            <li class="list-inline-item">
                                <h:link class="btn btn-outline-light btn-social text-center rounded-circle" >
                                    <i class="fab fa-fw fa-linkedin-in"></i>
                                </h:link>
                            </li>
                            <li class="list-inline-item">
                                <h:link class="btn btn-outline-light btn-social text-center rounded-circle" >
                                    <i class="fab fa-fw fa-dribbble"></i>
                                </h:link>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h4 class="text-uppercase mb-4">About Freelancer</h4>
                        <p class="lead mb-0">Freelance is a free to use, open source Bootstrap theme created by
                            <a href="http://startbootstrap.com">Start Bootstrap</a>.</p>
                    </div>
                </div>
            </div>
        </footer>

        
        <div class="copyright py-4 text-center text-white">
            <div class="container">
                <small>Copyright &copy; Hilton, Igor, Luana, Vinícius</small>
            </div>
        </div>

        
        <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
        <div class="scroll-to-top d-lg-none position-fixed ">
            <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
                <i class="fa fa-chevron-up"></i>
            </a>
        </div>


        <!-- Plugin AJAX para limpar dados do fomulário --> 
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

        <!-- Bootstrap core JavaScript -->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Plugin JavaScript -->
        <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
        <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

        <!-- Contact Form JavaScript -->
        <script src="js/jqBootstrapValidation.js"></script>
        <script src="js/contact_me.js"></script>

        <!-- Custom scripts for this template -->
        <script src="js/freelancer.min.js"></script>


    </h:body>
</html>

